<div class="container">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/logo.png" alt="Zéro Déchet Toulon" class="logo">
      </a>
      <button class="button navbar-burger" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div class="navbar-menu" id="navMenu">
      <div class="navbar-start"></div>
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">À Propos</a>
          <div class="navbar-dropdown is-boxed">
            <a class="navbar-item" href="/a_propos/qui_sommes_nous">Qui sommes nous ?</a>
            <a class="navbar-item" href="/a_propos/notre_gouvernance">Notre gouvernance</a>
            <a class="navbar-item" href="/a_propos/rejoignez_nous">Rejoignez nous !</a>
          </div>
        </div>
        <a class="navbar-item" href="/agenda">Agenda</a>
        <a class="navbar-item" href="/actualites">Actualités</a>
        <a class="navbar-item" href="/actions_et_projets">Actions et projets</a>
        <a class="navbar-item" href="/page_en_creation">Annuaire</a>
        <a class="navbar-item" href="/contact">Contact</a>
      </div>
    </div>
  </nav>
</div>
